<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
		</br>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-3 column">
			<div class="col-md-12 column">
				<div class="panel-group" id="panel-851664">
					<div class="panel panel-default">
						<div class="panel-heading">
							 <a class="panel-title" data-toggle="collapse" data-parent="#panel-851664" href="#panel-element-673135">统计导航</a>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-12 column">
				<div class="panel-group" id="panel-851664">
					<div class="panel panel-default">
						<ul class="nav nav-pills nav-stacked">
							<li><a href="{:U('Kytj/index')}">论文统计</a></li>
							<li class="active"><a href="{:U('Kytj/addAchievement')}">科研成果</a></li>
							<li><a href="{:U('Kytj/addPropty')}">知识产权</a></li>
							<li><a href="{:U('Kytj/addEquipment')}">仪器设备</a></li>
							
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-12 column">
				<div class="panel-group" id="panel-851664">
					<div class="panel panel-default">
						<div class="panel-heading">
							 <a class="panel-title" data-toggle="collapse" data-parent="#panel-851664" href="#panel-element-673135">浏览导航</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 column">
				<div class="panel-group" id="panel-851664">
					<div class="panel panel-default">
						<ul class="nav nav-pills nav-stacked">
							<li><a href="{:U('Kytj/scanTheses')}">论文统计</a></li>
							<li><a href="{:U('Kytj/scanAchievement')}">科研成果</a></li>
							<li><a href="{:U('Kytj/scanPropty')}">知识产权</a></li>
							<li><a href="{:U('Kytj/scanEquipment')}">仪器设备</a></li>
							<li><a href="{:U('Kytj/fileDownload')}">文件下载</a></li>
							<li><a href="{:U('Kytj/logList')}">日志信息</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8" style="background-color:#f8f8f8;border-radius:6px;border:1px solid #e8e8e8;margin-right:30px;">
			<form role="form" style="padding-top:15px;" action="http://localhost/Hospitalsrms/index.php/Home/Kytj/addAchievement" method="post" name="myform" onsubmit="return CheckPost();">
				<div class="row-fluid col-md-12" style="padding-top:5px;">
					<div class="form-group col-md-3" style="padding-top:0px;padding-left:20px; padding-right:0;">
					   <select class="form-control input-sm" name="year">
					   	<?php foreach($year as $key => $val): ?>
                            <option value="<?= $val ?>"><?= $val ?></option>
                        <?php endforeach; ?>						
					   </select>
				   </div>
				   <div class="span12 col-md-9" style="padding-left:3px;">
					   <h3 class="text-left fontTitle">
							年&nbsp;-&nbsp;科研成果统计
					   </h3>
				   </div>
				</div>
			    
			    <div class="row" style="padding:30px 0 20px;"></div><!-- 上下块间距 -->
			
				<table width="795" height="287" class="table">
				  <tr>
				    <td width="196">成果名称（<span class="fontStar">※</span>）</td>
				    <td width="563"><input type="text" class="form-control input-sm" id="name1" placeholder="" name="name"></td>
				  </tr>
				  <tr>
				    <td>奖励名称（<span class="fontStar">※</span>）</td>
				    <td><input type="text" class="form-control input-sm" id="name2" placeholder="" name="awardname"></td>
				  </tr>
				  <tr>
				    <td>所属科室（<span class="fontStar">※</span>）</td>
				    <td><input type="text" class="form-control input-sm" id="name3" placeholder="" name="department"></td>
				  </tr>
				  <tr>
				    <td>  获奖完成人（<span class="fontStar">※</span>） </td>
				    <td> <input type="text" class="form-control input-sm" id="name4" placeholder="" name="author"></td>
				  </tr>
				  <tr>
				    <td> 获奖等级 </td>
				    <td><select  class="form-control input-sm" name="grade">
						  <option value=""></option>
						  <option value="一等奖">一等奖</option>
						  <option value="二等奖">二等奖</option>
						  <option value="三等奖">三等奖</option>
						  <option value="优秀奖">优秀奖</option>
						</select>
					</td>
				  </tr>
				  <tr>
				    <td>成果SCI数量</td>
				    <td><input type="text" class="form-control input-sm" id="num" name="scinumber"></td>
				  </tr>
				  <tr>
				    <td> 成果专利数量 </td>
				    <td><input type="text" class="form-control input-sm" id="num" name="patentnumer"></td>
				  </tr>
				  <tr>
				    <td> 任务来源 </td>
				    <td><input type="text" class="form-control input-sm" id="num" name="sorce"></td>
				  </tr>
				   <tr>
				    <td>第一完成人类型（<span class="fontStar">※</span>）</td>
				    <td> <label class="checkbox-inline">
					    <input type="radio" name="authortype" id="radioInline1" value="本院人员" checked>本院人员
					  </label>
					  <label class="checkbox-inline">
					    <input type="radio" name="authortype" id="radioInline2" value="研究生">研究生
					  </label>
					  <label class="checkbox-inline">
					    <input type="radio" name="authortype" id="radioInline3" value="外院人员">外院人员
					  </label>
					  <label class="checkbox-inline">
					    <input type="radio" name="authortype" id="radioInline4" value="本院未绑定人员">本院未绑定人员
					  </label>
					  <label class="checkbox-inline">
					    <input type="radio" name="authortype" id="radioInline4" value="其他">其他
					  </label></td>
				  <tr>
				    <td> 备注 </td>
				    <td><textarea class="form-control" rows="6" name="remarks"></textarea></td>
				  </tr>
				  <tr>
				    <td colspan="2"><br/>
				    	<span class="col-lg-6">
						  <button type="submit"  class="btn btn-primary btn-sm btn-block">提交</button>
						</span>
						<span class="col-lg-6">
						  <button type="reset"  name="reset"  class="btn btn-primary btn-sm btn-block">重置</button>
						</span>
					</td>
				  </tr>
				</table>
			</form>
		</div>		
	</div>
</div>