
 <div style="height:30px;background-color:#E4E6E9;
 padding:5px 3px 0px 200px;">项目申报管理>科研平台申请</div>
<div class="col-md-10 column" style="background-color:#fff;height:550px;">
    <div class="col-md-0">
    </div>
     <div class="col-md-12" style="background-color:#fff;border-radius:0px";>

                    <form name="form2" method="post" action="">
                        <table class="table"><br/>
                            <input  class="btn btn-default pull-right" type="submit" value="搜索">
                            <div class="col-md-2 pull-right">
                                <input class="form-control" type="text">
                            </div>
                                                                    
                            <thead>
                                <tr>
                                    <th>
                                        <input type="checkbox" id="selAll" onclick="selectAll();"/>  全选
                                    </th>
                                    <th>
                                        论文名称
                                    </th>
                                    <th>
                                        作者
                                    </th>
                                    <th>
                                        年份
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <volist name="thesesList" id="vo">
                                <?php 
                                $col = "";
                                $col1 = "warning";
                                $col2 = "error";
                                $col3 = "sucess";
                                $col = $col1;
                                if($col == $col1){
                                    $col = $col2;
                                }elseif($col == $col2){
                                    $col = $col3;
                                }else{
                                    $col = $col1;
                                }
                                ?>
                                <tr class="<?php echo $col;?>">
                                    <td>
                                    <input type="checkbox" name="checkAll[]" id="checkAll" onclick="setSelectAll();" value="{$vo.id}"/>
                                    </td>
                                    <td>
                                        {$vo.name}
                                    </td>
                                    <td>
                                        {$vo.author}
                                    </td>
                                    <td>
                                        {$vo.date}
                                    </td>                               
                                </tr>
                            </volist>
                            <tr>
                               <td>
                                <img src="__PUBLIC__img/arrow_ltr.gif"/>
                               </td>
                               <td>
                                <a class="btn btn-default delete" href="">删除</a>                                
                                <a class="btn btn-default" href="javascript:checkaction(1)">修改</a>  
                               </td>
                               <td></td>
                               <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                    <div class="col-md-12 column">
                        {$page}
                    </div>
                </div>
                </div>
            </div>